<!-- parameter -->
<div>
  <h1 style="text-align: center;">divider block</h1>
</div>
<div style="display:flex;justify-content: center;">
  <div class="wrapper">
    <div>
      <div>
        <h2>Size</h2>
        <div>
          <span style="margin-left: 10px;display: inline-flex;align-items: center;">normal : <input type="radio" name="size" value="1" (change)="onChangeSize($event)" [checked]="1 == size"/></span>
          <span style="margin-left: 10px;display: inline-flex;align-items: center;">bold: <input type="radio" name="size" value="4" (change)="onChangeSize($event)" [checked]="size == 4"/></span>
        </div>
      </div>
      <div>
        <h2>Color</h2>
        <div>
          <input type="color" name="color" [value]="color" (change)="onChangeColor($event)">
        </div>
      </div>
      <div class="text">
        add text to hr: <input type="checkbox" style="margin-top: 10px;" [checked]="dividerWithText" (change)="toggleText()"/>
        <div *ngIf="dividerWithText">
          <div style="margin-top: 10px;">
            text: <br/>
            <input type="text" name="dividerText" [ngModel]="dividerText" style="margin-top: 6px;" (ngModelChange)="onChangeText($event)"/>
            <input type="color" name="textColor" [value]="textColor" (change)="onChangeTextColor($event)">
          </div>
          <div style="margin-top: 10px;">
            align: <br/>
            <div style="margin-top: 6px;">
              <span>
                left: <input type="radio" name="alignText" value="left" [checked]="dividerAlignText == 'left'" (change)="onChangeAlignText($event)"/>
              </span>
              <span>
                center: <input type="radio" name="alignText" value="center" [checked]="dividerAlignText == 'center'" (change)="onChangeAlignText($event)"/>
              </span>
              <span>
                right: <input type="radio" name="alignText" value="right" [checked]="dividerAlignText == 'right'" (change)="onChangeAlignText($event)"/>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="padding: 40px 0px;">
      <div class="divider"
      [style.borderBlockStartColor]="color"
      [ngStyle]="{'--size':size + 'px'}"
      [class.divider-with-text]="dividerWithText"
      [class.divider-with-text-left]="dividerAlignText === 'left'"
      [class.divider-with-text-right]="dividerAlignText === 'right'"
      >
      <span *ngIf="dividerWithText" class="divider-inner-text" [style.color]="textColor" [style.fontWeight]="size == 4 ? 'bold' : 'normal'">{{dividerText}}</span>
    </div>
    </div>
  </div>
</div>

