<!-- parameter -->
<div>
  <h1 style="text-align: center;">divider block</h1>
</div>
<div>
  <div class="wrapper">
    <div class="parameters">
      <div class="parameter divider-color">
        <label>Divider Color</label>
        <input type="color" name="color" [value]="color" (change)="onChangeColor($event)">
      </div>
      <div class="parameter divider-height">
        <label>divider height</label>
          <mat-form-field appearance="standard">
            <input matInput type="number" [min]="0" placeholder="Ex. 1" [ngModel]="size" (ngModelChange)="onChangeSizeValue($event)"  />
            <span matSuffix style="margin-left: 10px;font-weight: 500;">px</span>
          </mat-form-field>
      </div>
      <div class="parameter divider-width">
        <label>divder width</label>
        <mat-form-field appearance="standard" style="margin-right: 8px;">
          <input matInput type="number" [min]="0" [(ngModel)]="dividerWidth"/>
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-select [(ngModel)]="dividerWidthUnit">
            <mat-option value="%">%</mat-option>
            <mat-option value="px">px</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="parameter divider-position">
        <label>divider position</label>
        <mat-radio-group placeholder="position" aria-label="Select an option" [(ngModel)]="dividerPosition">
          <mat-radio-button value="start">start</mat-radio-button>
          <mat-radio-button value="center">center</mat-radio-button>
          <mat-radio-button value="end">end</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="parameter divider-text-option">
        <label>Divider with text</label>
        <mat-radio-group aria-label="Select an option" [(ngModel)]="dividerWithText">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">False</mat-radio-button>
        </mat-radio-group>
      </div>
        <div class="parameter text-parameters" *ngIf="dividerWithText">
          <div class="parameter text-value">
            <label>Text</label>
            <mat-form-field appearance="standard" style="margin-right: 8px;">
              <input matInput type="text" placeholder="Text" [(ngModel)]="dividerText"/>
            </mat-form-field>
            <input type="color" [(ngModel)]="textColor"/>
          </div>
          <div class="parameter text-font-family">
            <label>Font Family</label>
            <mat-form-field appearance="standard">
              <input matInput type="text" [value]="textFontFamily" (change)="onChangeTextFontFamily($event)"/>
            </mat-form-field>
          </div>
          <div class="parameter text-font-size">
            <label>Font Size</label>
            <mat-form-field appearance="standard">
              <input matInput type="number" [min]="6" [value]="textSize"  (change)="onChangeTextSize($event)"/>
              <span matSuffix style="margin-left: 10px;font-weight: 500;">px</span>
            </mat-form-field>
          </div>
          <div class="parameter text-font-weight">
            <label>Font Weight</label>
            <mat-form-field appearance="standard">
              <mat-select [(ngModel)]="textFontWeight">
                <mat-option [value]="100">Thin</mat-option>
                <mat-option [value]="300">Light</mat-option>
                <mat-option [value]="400">Normal</mat-option>
                <mat-option [value]="500">Medium</mat-option>
                <mat-option [value]="600">Semi Bold</mat-option>
                <mat-option [value]="700">Bold</mat-option>
                <mat-option [value]="800">Extra Bold</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="parameter text-align" style="margin-top: 10px;">
            <label>Align</label>
            <mat-radio-group placeholder="align" aria-label="Select an option" [(ngModel)]="textAlign">
              <mat-radio-button value="left" >left</mat-radio-button>
              <mat-radio-button value="center" >center</mat-radio-button>
              <mat-radio-button value="right">right</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
    </div>

    <div class="preview" style="display: grid;align-items: center;border: 2px solid #bebbbb;">
      <div class="wrapper-divider" style="display: flex; justify-content: start;" [style.justifyContent]="dividerPosition">
        <div class="divider"
        [style.borderBlockStartColor]="color"
        [ngStyle]="{'--size':size + 'px'}"
        [style.width]="dividerWidth + dividerWidthUnit"
        [class.divider-with-text]="dividerWithText"
        [class.divider-with-text-left]="textAlign === 'left'"
        [class.divider-with-text-right]="textAlign === 'right'"
        >
          <span *ngIf="dividerWithText"
          class="divider-inner-text"
          [style.color]="textColor"
          [style.fontFamily]="textFontFamily"
          [style.fontSize]="textSize + 'px'"
          [style.fontWeight]="textFontWeight"
          >{{dividerText}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

